# Dependencies
node_modules/

# Build
dist/
dev-dist/
build/
*.local

# Env
.env
.env.*

# Logs & debug
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
*.swo

# Test / coverage
coverage/
*.lcov
.nyc_output/

# TypeScript
*.tsbuildinfo

# Vite
.vite/

# Misc
*.pem
.cache/
tmp/
temp/
